
@{
    ViewData["Title"] = "AddImage";
    
}

<h1>Add Image To Category</h1>

<form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone"></form>

<div>
    <div class="col-md-12">

        @*@using (aja) { }*@

    </div>
</div>



@section Scripts
{
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
}
